body, h1,h2,h3,p {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Arial', sans-serif;
    background-color: rgb(231, 220, 220);
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}
header {
    background-color: darkblue;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;

}

nav a:hover {
    color: orange;
}

section {
    padding: 40px;
    background-color: white;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
}

.project {
    margin-bottom: 25px;
}

.project img {
    max-width: 100%;
    height: auto;
    border:1px solid #ccc
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: darkblue;
    color:#fff
}